
* { font-family: 'DM Serif Display', serif;
    margin: 0;
    }
    
    #container {
        width: 200px;
    }
    
    .m-40 {
        margin: 40px;
    }
    h1 {
        color: orange;
        font-size: 40px;
        background: black;
    }
    
    h2 {
        border: 600px solid rgb(red, green, blue);
        margin: 20px;
        padding: 60px;
    }
    